# Python
__pycache__/
*.py[cod]
.venv/
venv/
.pytest_cache/
.ipynb_checkpoints/

# Secrets
.env
*.env
credentials*.json

# Data
data/
*.parquet
*.csv.gz

# dbt
dbt/target/
dbt/dbt_packages/
dbt/logs/

# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfvars

# Dagster
.dagster/
tmp*/

.DS_Store
